<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../styles/iautos.min.css">
	<title>第一车网-M端-首页改版</title>
</head>
<body>
	<header><img src="../images/header-img.jpg" width="100%" /></header>
	<div class="hp-wrapper">
		<section id="homePageBox">
			<div class="hp-banner"></div>
			<div class="hp-form">
				<form>
					<input type="text" maxlength="20" placeholder="请输入品牌/车系" />
					<input type="submit" value="搜索" />
				</form>
			</div>
			<ul class="hp-link clean">
				<li class="hp-buy-car"><a href="javascript:void(0)">我要卖车</a></li>
				<li class="hp-car-assess"><a href="javascript:void(0)">价格评估</a></li>
			</ul>
		</section>
		<section id="fastChooseCar"></section>
		<section id="goodCarRecommend"></section>
		<section id="SelectedCars"></section>
		<section id="purchaseStrategy"></section>
		<section id="expertProfessionalAnswers">
			<div class="expert-professional-answers">
				<div class="img"><img src="" width="100%" /></div>
				<p class="text">有任何买车/卖车的疑问</p>
				<div class="link"><a href="javascript:void(0)">问专家</a></div>
			</div>
		</section>
		<section id="reliableDealers"></section>
	</div>
	<footer><img src="../images/footer-img.jpg" width="100%" /></footer>
</body>
</html>